.list {
  position: absolute;
  bottom: 0px;
  top: 48px;
  left: 0;
  width: 100%;
  .wrapper {
    overflow: hidden;
    height: 100%;
  }
  .items {
    margin-top: 10px;
  }
  .content {
    padding: 10px;
  }
  .pullCircularProgress {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -20px;
  }
  .downCircularProgress {
    bottom: 10px;
    left: 50%;
    margin-left: -20px;
  }
  .down {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 40px;
  }
  .up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .arrow {
    top: -40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    height: 40px;
  }
  .arrow i.downic {
    transform: rotate(0deg);
    width: 16px;
    height: 16px;

    transform-origin: center center;
    transition: 0.5s;
  }
  .arrow i.upic {
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
    transform-origin: center center;
    transition: 0.5s;
  }
}
