.fabulous {
  color: red;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.img {
  height: 211px;
  width: 100%;
}
.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
}
