.logincontent {
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .MuiGrid-container-109 {
    width: auto;
  }
  .loginbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
  }
  .inputwid {
    width: auto;
  }
}
